.cabecera {
  background-color: #e1160f;
  color: white;
  padding: 35px 20px;
  text-align: center;
}

.contenido-cabecera {
  max-width: 1000px;
  margin: 0 auto;
}

.cabecera h1 {
  margin: 0;
  font-size: 36px;
}

.cabecera p {
  margin-top: 10px;
  font-size: 18px;
}