<h2>ACLEs</h2>

<p>ACLE = Actividad curricular de libre elección.</p>

<h3>Artes marciales orientales</h3>
<p>Horario: Lunes y miércoles, 4:00 PM - 5:30 PM</p>
<p>Únete a las clases de kung-fu de la disciplina china Hung Sing Choy Lee Fut.</p>
<p>Disciplina, cultura, defensa personal y valores para estudiantes de todas las edades.</p>

<h3>Vóleibol</h3>
<p>Horario: Martes y jueves, 4:00 PM - 5:30 PM</p>
<p>Únete a las clases de vóleibol más entretenidas de la ciudad.</p>
<p>Ejercicio, competencia saludable y trabajo en equipo.</p>

<h3>Fútbol</h3>
<p>Horario: Lunes y viernes, 4:00 PM - 5:30 PM</p>
<p>Únete a las clases de fútbol más entretenidas de la ciudad.</p>
<p>Ejercicio, competencia saludable y trabajo en equipo.</p>

<h3>Rugby</h3>
<p>Horario: Martes y miércoles, 4:00 PM - 5:30 PM</p>
<p>Únete a las clases de rugby más entretenidas de la ciudad.</p>
<p>Ejercicio, competencia saludable y trabajo en equipo.</p>