<nav class="menu">

  <ul>

    <li>
      <a
        routerLink="/frutas"
        routerLinkActive="activo">
        Frutas
      </a>
    </li>

    <li>
      <a
        routerLink="/verduras"
        routerLinkActive="activo">
        Verduras
      </a>
    </li>

    <li>
      <a
        routerLink="/frutos-secos"
        routerLinkActive="activo">
        Frutos Secos
      </a>
    </li>

    <li>
      <a
        routerLink="/contacto"
        routerLinkActive="activo">
        Contacto
      </a>
    </li>

    <li>
      <a
        routerLink="/pedido"
        routerLinkActive="activo"
        class="boton-pedido">
        Hacer Pedido
      </a>
    </li>

  </ul>

</nav>