<nav class="menu">

  <ul>

    <li>
      <a
        routerLink="/inicio"
        routerLinkActive="activo">
        Inicio
      </a>
    </li>

    <li>
      <a
        routerLink="/actividades"
        routerLinkActive="activo">
        Actividades
      </a>
    </li>

    <li>
      <a
        routerLink="/inscripcion"
        routerLinkActive="activo">
        Inscripcion
      </a>
    </li>

    <li>
      <a
        routerLink="/contacto"
        routerLinkActive="activo">
        Contacto
      </a>
    </li>

  </ul>

</nav>